<main class="container text-center mt-5">
  <div class="row m-3">
    <div *ngIf="isEmpresa() else noEmpresa">
      <h1 class="text-start ms-4">{{usuario?.empresa?.razonSocial}}</h1>
    </div>
    <ng-template #noEmpresa>
      <h1>Panel de Control</h1>
    </ng-template>
  </div>
  <div class="row m-3">
    <div class="col-4">
      <div class="row text-start">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Datos de usuario</mat-card-title>
          </mat-card-header>
          <mat-card-content class="table-responsive">
            <div>
              <p><span class="fw-bold">Nombre y Apellidos: </span> {{usuario?.usuarioNombre}}
                {{usuario?.usuarioApellido1}} </p>
                <p><span class="fw-bold">Perfil del usuario: </span> {{mostrarPerfil()}}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="row text-start mt-3">
        <mat-card>
          <mat-card-header>
            <mat-card-title *ngIf="this.perfil === 'Usuario particular'">Vehículos</mat-card-title>
            <mat-card-title *ngIf="this.perfil !== 'Usuario particular'">Vehículos y conductores</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col" *ngIf="getNumVehiculos() === 0">
                <p><span class="fw-bold">No hay vehículos registrados:</span></p>
              </div>
              <div class="col" *ngIf="getNumVehiculos()>0">
                <p>
                  <span class="fw-bold">Núm vehículos registrados:</span> {{getNumVehiculos()}}
                </p>
              </div>
              <div class="col">
                <a [routerLink]="'/usuario/nuevo-vehiculo'" class="btn btn-outline-primary">
                  Añadir vehículo
                  <mat-icon> drive_eta </mat-icon>
                </a>
              </div>  
            </div>
            <div class="row" *ngIf="this.perfil !== 'Usuario particular'">
              <div class="col" *ngIf="getNumConductores()<1">
                <p><span class="fw-bold">No hay conductores registrados</span></p>
              </div>
              <div class="col" *ngIf="getNumConductores()>0">
                <p><span class="fw-bold">Núm conductores registrados:</span> {{getNumConductores()}}</p>
              </div>
              <div class="col">
                <a [routerLink]="'/usuario/nuevo-conductor'" class="btn btn-outline-primary">
                  Añadir conductor
                  <mat-icon> person_add </mat-icon>
                </a>
              </div>  
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="row mt-3">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Acciones</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="w-100 text-start mt-3 mb-3">
              <button class="btn btn-outline-primary">
                Añadir Repostaje
                <mat-icon>local_gas_station</mat-icon>
              </button>
            </div>
            <div class="w-100 text-start">
              <button class="btn btn-outline-primary">
                Añadir Mantenimiento
                <mat-icon>car_repair</mat-icon>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-8">
      <div class="row ms-2">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Listado de Vehículos</mat-card-title>
          </mat-card-header>
          <mat-card-content class="table-responsive">
            <table class="table table-primary table-striped table-hover table-sm">
              <thead>
                <tr>
                  <th scope="col">Vehículo</th>
                  <th scope="col">Matrícula</th>
                  <th scope="col">Fecha de compra</th>
                </tr>
              </thead>
              <tbody *ngIf="this.mostarUltimosVehiculos().length===0">
                <tr>
                  <td colspan="3"><span class="text-center fst-italic fs-5"> No tiene vehículos registrados </span></td>
                </tr>
              </tbody>

              <tbody *ngIf="this.mostarUltimosVehiculos().length>0">
                  <tr *ngFor="let v of mostarUltimosVehiculos()">
                    <td>{{v.vehiculoId}}</td>
                    <td>{{v.vehiculoMatricula}}</td>
                    <td>{{v.vehiculoFechaCompra}}</td>
                  </tr>
              </tbody>
            </table>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Ver Listado</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="row mt-3 ms-2" *ngIf="this.perfil !== 'Usuario particular'">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Listado de Conductores</mat-card-title>
          </mat-card-header>
          <mat-card-content class="table-responsive">
            <table class="table table-primary table-striped table-hover table-sm">
              <thead> 
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <tbody *ngIf="tamanioLista() < 1">
                <tr>
                  <td colspan="3"><span class="text-center fst-italic fs-5"> No tiene conductores registrados </span></td>
                </tr>
              </tbody>
              <tbody *ngIf="tamanioLista()>0">
                <tr *ngFor="let item of conductores">
                  <td>{{item.usuarioNombre}}</td>
                  <td>{{item.usuarioApellido1}} {{item.usuarioApellido2}}</td>
                  <td>{{item.usuarioEmail}}</td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Ver Listado</button>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
  </div>
</main>
