mat-form-field{
    width: 400px;
}

.example-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    align-items: flex-star¡;
  }
  
.example-radio-button {
  margin: 10px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
