<section>
    <h1>Formulario de alta en la aplicación</h1>
    <form fxLayout="column" fxLayoutAlign="center center" fxlayoutGap="20" #f="ngForm" (ngSubmit)="registrarUsuario(f)">

        <label id="example-radio-group-label">Seleciona el Perfil de Usuario</label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="selection" [ngModelOptions]="{standalone: true}">
            <mat-radio-button class="example-radio-button" *ngFor="let opcion of opciones" [value]="opcion">
                {{opcion}}
            </mat-radio-button>
        </mat-radio-group>
        
        <div *ngIf="selection == 'Empresa'" fxLayout="column" fxLayoutAlign="center center" fxlayoutGap="25">
            <div>Se está creado un perfil de: {{selection}}</div>
            <mat-form-field>
                <mat-label>Razón Social</mat-label>
                <input type="text" ngModel name="nombre" required placeholder="Razón social" matInput />
                <mat-error>Indique el nombre de la empresa</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="example@example.com" ngModel name="email" email required
                    #emailInput="ngModel" />
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="emailInput.hasError('required')">El email no puede estar en blanco</mat-error>
                <mat-error *ngIf="!emailInput.hasError('required')">El email indicado es invalido</mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="legacy" hintLabel="El password debe tener 7 caracteres">
                <mat-label>Ingrese Password</mat-label>
                <input type="password" matInput placeholder="Ingresa Password" ngModel name="password" required
                    minlength="7" />
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error>El password debe tener mas de 7 caracteres</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Guardar</button>
        </div>

        <div *ngIf="selection == 'Particular'" fxLayout="column" fxLayoutAlign="center center" fxlayoutGap="25">
            <div>Se está creado un perfil {{selection}}</div>
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input type="text" ngModel name="nombre" required placeholder="Nombre" matInput />
                <mat-error>Debe Indicar su nombre</mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Apellido 1</mat-label>
                <input type="text" ngModel name="apellido" required placeholder="Primer apellido" matInput />
                <mat-error>Debe indicar su primer apellido</mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Apellido 2</mat-label>
                <input type="text" ngModel name="username" placeholder="Segundo apellido" matInput />
                <mat-error>Contiene caracteres no permitidos</mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="legacy">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="example@example.com" ngModel name="email" email required
                    #emailInput="ngModel" />
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="emailInput.hasError('required')">El email no puede estar en blanco</mat-error>
                <mat-error *ngIf="!emailInput.hasError('required')">El email indicado es invalido</mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="legacy" hintLabel="El password debe tener 7 caracteres">
                <mat-label>Ingrese Password</mat-label>
                <input type="password" matInput placeholder="Ingresa Password" ngModel name="password" required
                    minlength="7" />
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error>El password debe tener mas de 7 caracteres</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Guardar</button>
        </div>

    </form>
</section>